#  Local .terraform directories
**/.terraform/*
**/w2v_model/
**/saved/
**/runs/*
**/.idea/
**/__pycache__/
**/.ipynb_checkpoints/
**/summarys/
**/version/
**/gitinfo/

# .tfstate files
*.tfstate
*.tfstate.*
*checkpoint
**/model.ckpt*
**/data/model/ner_model.h5
*.ckpt*
# .tfvars files
*.tfvars
*.all
*.hdf5
task/.idea/*
*.xml
*.bin
*.model

**/segment_dic.txt
segment_dic.txt

**/code_study/data/*
**/code_study/tmp/*
**/tmp/*
**/data/*.pkl

pkubase-complete.txt
pkubase-mention2ent.txt
**/pkubase-complete/*
**/pkubase-mention2ent/*
**/merge/*
*.model
*.index
*.meta
*.data-00000-of-00001
*data-00000-of-*
**/ckpt_model/*
**/bigfile/*

